[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = {version = "*", extras = ["argon2"]}
djangorestframework = "*"
djoser = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
django-heroku = "*"
django-cors-headers = "*"
pillow = "*"
bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.6"
